---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/berry?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/berry?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:43 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/berry?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/berry/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:43 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/berry/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":64,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/1\/","name":"cheri"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/2\/","name":"chesto"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/3\/","name":"pecha"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/4\/","name":"rawst"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/5\/","name":"aspear"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/6\/","name":"leppa"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/7\/","name":"oran"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/8\/","name":"persim"},{"url":"https:\/\/po[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/berry/?limit=50&offset=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":64,"previous":"https:\/\/pokeapi.co\/api\/v2\/berry\/?limit=50","results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/51\/","name":"babiri"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/52\/","name":"chilan"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/53\/","name":"liechi"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/54\/","name":"ganlon"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/55\/","name":"salac"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/56\/","name":"petaya"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/57\/","name":"apicot"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/58\/","name":"lansat"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/59\/","name":"starf"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/60\/","name":"enigma"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/61\/","name":"micle"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/62\/","name":"custap"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/63\/","name":"jaboca"},{"url":"https:\/\/pokeapi.co\/api\/v2\/berry\/64\/","name":"rowap"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:43 GMT
recorded_with: VCR 4.0.0
