---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/characteristic?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/characteristic?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:49 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/characteristic?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/characteristic/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:49 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/characteristic/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":30,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/1\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/2\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/3\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/4\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/5\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/6\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/7\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/characteristic\/8\/"},{"url":"https:\/\/p[...]
