---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/contest-type?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/contest-type?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/contest-type?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/contest-type/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/contest-type/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":5,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/contest-type\/1\/","name":"cool"},{"url":"https:\/\/pokeapi.co\/api\/v2\/contest-type\/2\/","name":"beauty"},{"url":"https:\/\/pokeapi.co\/api\/v2\/contest-type\/3\/","name":"cute"},{"url":"https:\/\/pokeapi.co\/api\/v2\/contest-type\/4\/","name":"smart"},{"url":"https:\/\/pokeapi.co\/api\/v2\/contest-type\/5\/","name":"tough"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
recorded_with: VCR 4.0.0
