---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/egg-group?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/egg-group?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:24 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/egg-group?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/egg-group/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:24 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/egg-group/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":15,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/1\/","name":"monster"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/2\/","name":"water1"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/3\/","name":"bug"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/4\/","name":"flying"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/5\/","name":"ground"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/6\/","name":"fairy"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/7\/","name":"plant"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/8\/","name":"humanshape"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/9\/","name":"water3"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/10\/","name":"mineral"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/11\/","name":"indeterminate"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/12\/","name":"water2"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/13\/","name":"ditto"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/14\/","name":"dragon"},{"url":"https:\/\/pokeapi.co\/api\/v2\/egg-group\/15\/","name":"no-eggs"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:37:25 GMT
recorded_with: VCR 4.0.0
