---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/encounter-method?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/encounter-method?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-method?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/encounter-method/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-method/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":17,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/1\/","name":"walk"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/2\/","name":"old-rod"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/3\/","name":"good-rod"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/4\/","name":"super-rod"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/5\/","name":"surf"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/6\/","name":"rock-smash"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/7\/","name":"headbutt"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/8\/","name":"dark-grass"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/9\/","name":"grass-spots"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/10\/","name":"cave-spots"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/11\/","name":"bridge-spots"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/12\/","name":"super-rod-spots"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/13\/","name":"surf-spots"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/14\/","name":"yellow-flowers"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/15\/","name":"purple-flowers"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/16\/","name":"red-flowers"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-method\/17\/","name":"rough-terrain"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
recorded_with: VCR 4.0.0
