---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/encounter-condition-value?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/encounter-condition-value?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-condition-value?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/encounter-condition-value/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-condition-value/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":20,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-condition-value\/1\/","name":"swarm-yes"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-condition-value\/2\/","name":"swarm-no"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-condition-value\/3\/","name":"time-morning"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-condition-value\/4\/","name":"time-day"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-condition-value\/5\/","name":"time-night"},{"url":"https:\/\/pokeapi.co\/api\/v2\/encounter-condition-value\/6\/","name":"radar-on"},{"url":"https:\/\/pokeapi.co\/a[...]
