---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/evolution-trigger?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/evolution-trigger?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:25 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-trigger?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/evolution-trigger/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:25 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-trigger/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-trigger\/1\/","name":"level-up"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-trigger\/2\/","name":"trade"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-trigger\/3\/","name":"use-item"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-trigger\/4\/","name":"shed"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:37:25 GMT
recorded_with: VCR 4.0.0
