---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/evolution-chain?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/evolution-chain?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:21 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/evolution-chain/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:22 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":415,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/1\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/2\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/3\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/4\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/5\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/6\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/7\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/8\/"},{"url":"htt[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/?limit=50&offset=400
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":415,"previous":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/?limit=50&offset=350","results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/409\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/410\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/411\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/412\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/413\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/414\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/415\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/416\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/417\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/418\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/419\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/420\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/421\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/422\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/evolution-chain\/423\/"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:37:24 GMT
recorded_with: VCR 4.0.0
