---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/generation?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/generation?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:04 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/generation?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/generation/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:04 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/generation/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":7,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/generation\/1\/","name":"generation-i"},{"url":"https:\/\/pokeapi.co\/api\/v2\/generation\/2\/","name":"generation-ii"},{"url":"https:\/\/pokeapi.co\/api\/v2\/generation\/3\/","name":"generation-iii"},{"url":"https:\/\/pokeapi.co\/api\/v2\/generation\/4\/","name":"generation-iv"},{"url":"https:\/\/pokeapi.co\/api\/v2\/generation\/5\/","name":"generation-v"},{"url":"https:\/\/pokeapi.co\/api\/v2\/generation\/6\/","name":"generation-vi"},{"url":"https:\/\/pokeapi.co\/api\/v2\/generation\/7\/","name":"sun-moon"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:37:04 GMT
recorded_with: VCR 4.0.0
