---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/item-fling-effect?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/item-fling-effect?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:23 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-fling-effect?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/item-fling-effect/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:23 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-fling-effect/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":7,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/item-fling-effect\/1\/","name":"badly-poison"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-fling-effect\/2\/","name":"burn"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-fling-effect\/3\/","name":"berry-effect"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-fling-effect\/4\/","name":"herb-effect"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-fling-effect\/5\/","name":"paralyze"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-fling-effect\/6\/","name":"poison"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-fling-effect\/7\/","name":"flinch"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:23 GMT
recorded_with: VCR 4.0.0
