---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/item-attribute?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/item-attribute?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:19 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-attribute?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/item-attribute/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:19 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-attribute/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":8,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/1\/","name":"countable"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/2\/","name":"consumable"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/3\/","name":"usable-overworld"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/4\/","name":"usable-in-battle"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/5\/","name":"holdable"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/6\/","name":"holdable-passive"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/7\/","name":"holdable-active"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-attribute\/8\/","name":"underground"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:37:19 GMT
recorded_with: VCR 4.0.0
