---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/item-category?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/item-category?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:24 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-category?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/item-category/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:24 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-category/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":45,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/item-category\/1\/","name":"stat-boosts"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-category\/2\/","name":"effort-drop"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-category\/3\/","name":"medicine"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-category\/4\/","name":"other"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-category\/5\/","name":"in-a-pinch"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-category\/6\/","name":"picky-healing"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-category\/7\/","name":"type-protection"},{"u[...]
