---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/item-pocket?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/item-pocket?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:43 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-pocket?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/item-pocket/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:44 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-pocket/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":8,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/1\/","name":"misc"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/2\/","name":"medicine"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/3\/","name":"pokeballs"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/4\/","name":"machines"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/5\/","name":"berries"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/6\/","name":"mail"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/7\/","name":"battle"},{"url":"https:\/\/pokeapi.co\/api\/v2\/item-pocket\/8\/","name":"key"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:44 GMT
recorded_with: VCR 4.0.0
