---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/language?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/language?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/language?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/language/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/language/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":12,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/1\/","name":"ja-Hrkt"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/2\/","name":"roomaji"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/3\/","name":"ko"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/4\/","name":"zh-Hant"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/5\/","name":"fr"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/6\/","name":"de"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/7\/","name":"es"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/8\/","name":"it"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/9\/","name":"en"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/10\/","name":"cs"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/11\/","name":"ja"},{"url":"https:\/\/pokeapi.co\/api\/v2\/language\/12\/","name":"zh-Hans"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
recorded_with: VCR 4.0.0
