---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/location-area?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/location-area?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:44 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/location-area?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/location-area/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:44 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/location-area/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":651,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/location-area\/1\/","name":"canalave-city-area"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location-area\/2\/","name":"eterna-city-area"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location-area\/3\/","name":"pastoria-city-area"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location-area\/4\/","name":"sunyshore-city-area"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location-area\/5\/","name":"sinnoh-pokemon-league-area"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location-area\/6\/","name":"oreburgh-mine-1f"},{"url":"https:\/\/pokeapi.co\/api[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/location-area/?limit=50&offset=650
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":651,"previous":"https:\/\/pokeapi.co\/api\/v2\/location-area\/?limit=50&offset=600","results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/location-area\/760\/","name":"azure-bay-area"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:48 GMT
recorded_with: VCR 4.0.0
