---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/location?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/location?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:36:53 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/location?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/location/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:36:53 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/location/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":673,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/location\/1\/","name":"canalave-city"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location\/2\/","name":"eterna-city"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location\/3\/","name":"pastoria-city"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location\/4\/","name":"sunyshore-city"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location\/5\/","name":"sinnoh-pokemon-league"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location\/6\/","name":"oreburgh-mine"},{"url":"https:\/\/pokeapi.co\/api\/v2\/location\/7\/","name":"valley-windworks"},{"url[...]
[...]
