---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/move-category?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/move-category?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-category?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/move-category/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-category/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":14,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/0\/","name":"damage"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/1\/","name":"ailment"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/2\/","name":"net-good-stats"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/3\/","name":"heal"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/4\/","name":"damage+ailment"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/5\/","name":"swagger"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/6\/","name":"damage+lower"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/7\/","name":"damage+raise"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/8\/","name":"damage+heal"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/9\/","name":"ohko"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/10\/","name":"whole-field-effect"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/11\/","name":"field-effect"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/12\/","name":"force-switch"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-category\/13\/","name":"unique"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
recorded_with: VCR 4.0.0
