---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/move-battle-style?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/move-battle-style?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:03 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-battle-style?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/move-battle-style/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:03 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-battle-style/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":3,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/move-battle-style\/1\/","name":"attack"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-battle-style\/2\/","name":"defense"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-battle-style\/3\/","name":"support"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:37:03 GMT
recorded_with: VCR 4.0.0
