---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/move-ailment?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/move-ailment?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-ailment?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/move-ailment/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:50 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-ailment/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":21,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/move-ailment\/-1\/","name":"unknown"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-ailment\/0\/","name":"none"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-ailment\/1\/","name":"paralysis"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-ailment\/2\/","name":"sleep"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-ailment\/3\/","name":"freeze"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-ailment\/4\/","name":"burn"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-ailment\/5\/","name":"poison"},{"url":"https:\/\/pokeapi.co\/api\/v2\/mo[...]
