---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/move-learn-method?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/move-learn-method?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:56 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-learn-method?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/move-learn-method/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:56 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-learn-method/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":10,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/1\/","name":"level-up"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/2\/","name":"egg"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/3\/","name":"tutor"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/4\/","name":"machine"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/5\/","name":"stadium-surfing-pikachu"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/6\/","name":"light-ball-egg"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/7\/","name":"colosseum-purification"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/8\/","name":"xd-shadow"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/9\/","name":"xd-purification"},{"url":"https:\/\/pokeapi.co\/api\/v2\/move-learn-method\/10\/","name":"form-change"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:56 GMT
recorded_with: VCR 4.0.0
