---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/nature?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/nature?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:21 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/nature?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/nature/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:21 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/nature/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":25,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/1\/","name":"hardy"},{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/2\/","name":"bold"},{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/3\/","name":"modest"},{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/4\/","name":"calm"},{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/5\/","name":"timid"},{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/6\/","name":"lonely"},{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/7\/","name":"docile"},{"url":"https:\/\/pokeapi.co\/api\/v2\/nature\/8\/","name":"mild"},{"url":"https:\[...]
