---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/pal-park-area?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/pal-park-area?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pal-park-area?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/pal-park-area/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pal-park-area/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":5,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/pal-park-area\/1\/","name":"forest"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pal-park-area\/2\/","name":"field"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pal-park-area\/3\/","name":"mountain"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pal-park-area\/4\/","name":"pond"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pal-park-area\/5\/","name":"sea"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
recorded_with: VCR 4.0.0
