---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/pokemon-color?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/pokemon-color?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:21 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-color?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/pokemon-color/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:21 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-color/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":10,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/1\/","name":"black"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/2\/","name":"blue"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/3\/","name":"brown"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/4\/","name":"gray"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/5\/","name":"green"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/6\/","name":"pink"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/7\/","name":"purple"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/8\/","name":"red"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/9\/","name":"white"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-color\/10\/","name":"yellow"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:37:21 GMT
recorded_with: VCR 4.0.0
