---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/pokemon-habitat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/pokemon-habitat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-habitat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/pokemon-habitat/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-habitat/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":9,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/1\/","name":"cave"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/2\/","name":"forest"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/3\/","name":"grassland"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/4\/","name":"mountain"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/5\/","name":"rare"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/6\/","name":"rough-terrain"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/7\/","name":"sea"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/8\/","name":"urban"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-habitat\/9\/","name":"waters-edge"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
recorded_with: VCR 4.0.0
