---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/pokemon-shape?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/pokemon-shape?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-shape?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/pokemon-shape/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-shape/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":14,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/1\/","name":"ball"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/2\/","name":"squiggle"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/3\/","name":"fish"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/4\/","name":"arms"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/5\/","name":"blob"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/6\/","name":"upright"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/7\/","name":"legs"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/8\/","name":"quadruped"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/9\/","name":"wings"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/10\/","name":"tentacles"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/11\/","name":"heads"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/12\/","name":"humanoid"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/13\/","name":"bug-wings"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon-shape\/14\/","name":"armor"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
recorded_with: VCR 4.0.0
