---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/pokeathlon-stat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/pokeathlon-stat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokeathlon-stat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/pokeathlon-stat/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokeathlon-stat/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":5,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/pokeathlon-stat\/1\/","name":"speed"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokeathlon-stat\/2\/","name":"power"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokeathlon-stat\/3\/","name":"skill"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokeathlon-stat\/4\/","name":"stamina"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokeathlon-stat\/5\/","name":"jump"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
recorded_with: VCR 4.0.0
