---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/pokedex?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/pokedex?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokedex?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/pokedex/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:40 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokedex/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":14,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/1\/","name":"national"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/2\/","name":"kanto"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/3\/","name":"original-johto"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/4\/","name":"hoenn"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/5\/","name":"original-sinnoh"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/6\/","name":"extended-sinnoh"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/7\/","name":"updated-johto"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/8\/","name":"original-unova"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/9\/","name":"updated-unova"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/11\/","name":"conquest-gallery"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/12\/","name":"kalos-central"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/13\/","name":"kalos-coastal"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/14\/","name":"kalos-mountain"},{"url":"https:\/\/pokeapi.co\/api\/v2\/pokedex\/15\/","name":"updated-hoenn"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:41 GMT
recorded_with: VCR 4.0.0
