---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/stat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/stat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/stat?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/stat/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:43 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/stat/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":8,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/1\/","name":"hp"},{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/2\/","name":"attack"},{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/3\/","name":"defense"},{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/4\/","name":"special-attack"},{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/5\/","name":"special-defense"},{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/6\/","name":"speed"},{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/7\/","name":"accuracy"},{"url":"https:\/\/pokeapi.co\/api\/v2\/stat\/8\/","name":"evasion"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:43 GMT
recorded_with: VCR 4.0.0
