---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/super-contest-effect?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/super-contest-effect?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:44 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/super-contest-effect?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/super-contest-effect/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:44 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/super-contest-effect/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":22,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/1\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/2\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/4\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/5\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/6\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/7\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/8\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/9\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/10\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/11\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/12\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/13\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/14\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/15\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/16\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/17\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/18\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/19\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/20\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/21\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/22\/"},{"url":"https:\/\/pokeapi.co\/api\/v2\/super-contest-effect\/23\/"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:44 GMT
recorded_with: VCR 4.0.0
