---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/type?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/type?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/type/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":20,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/1\/","name":"normal"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/2\/","name":"fighting"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/3\/","name":"flying"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/4\/","name":"poison"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/5\/","name":"ground"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/6\/","name":"rock"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/7\/","name":"bug"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/8\/","name":"ghost"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/9\/","name":"steel"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/10\/","name":"fire"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/11\/","name":"water"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/12\/","name":"grass"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/13\/","name":"electric"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/14\/","name":"psychic"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/15\/","name":"ice"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/16\/","name":"dragon"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/17\/","name":"dark"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/18\/","name":"fairy"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/10001\/","name":"unknown"},{"url":"https:\/\/pokeapi.co\/api\/v2\/type\/10002\/","name":"shadow"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:42 GMT
recorded_with: VCR 4.0.0
