---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/version-group?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/version-group?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:32 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/version-group?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/version-group/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:35:32 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/version-group/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":17,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/1\/","name":"red-blue"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/2\/","name":"yellow"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/3\/","name":"gold-silver"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/4\/","name":"crystal"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/5\/","name":"ruby-sapphire"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/6\/","name":"emerald"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/7\/","name":"firered-leafgreen"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/8\/","name":"diamond-pearl"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/9\/","name":"platinum"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/10\/","name":"heartgold-soulsilver"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/11\/","name":"black-white"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/12\/","name":"colosseum"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/13\/","name":"xd"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/14\/","name":"black-2-white-2"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/15\/","name":"x-y"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/16\/","name":"omega-ruby-alpha-sapphire"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version-group\/17\/","name":"sun-moon"}],"next":null}'
  recorded_at: Mon, 10 Sep 2018 01:35:32 GMT
recorded_with: VCR 4.0.0
