---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/version?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://pokeapi.co/api/v2/version?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:04 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/version?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/version/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 01:37:05 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/version/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":28,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/1\/","name":"red"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/2\/","name":"blue"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/3\/","name":"yellow"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/4\/","name":"gold"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/5\/","name":"silver"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/6\/","name":"crystal"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/7\/","name":"ruby"},{"url":"https:\/\/pokeapi.co\/api\/v2\/version\/8\/","name":"sapphire"},{"url"[...]
